#bottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-container);
    z-index: 999;
}

#bottomNav ul {
    display: flex;
    justify-content: center;
    position: relative;
    padding: .25rem 0;
    gap: 1rem;
}

#bottomNav ul li {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#bottomNav ul li.active {
    color: var(--color-emphasis);
}

#bottomNav ul li a {
    font-size: 12px;
}